{% block weasty_money_price_widget %}
    <div class="form-element-weasty-price" id="{{ form.vars.id }}">
        <div class="weasty-price-value-element">
            {{ form_row(form.value) }}
        </div>
        <div class="weasty-price-currency-element">
            {{ form_row(form.currency) }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}